* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

.app {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}



/* .... */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

.app {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    width: 50px;
    height: 100vh;
    background-color: #181b20;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    position: fixed;


}

.arrow-right-icon {
    margin-left: 0px;
    margin-right: -15px;
}

.sidebar-item,
.sidebar-menu {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;




}

.sidebar-item svg,
.sidebar-menu svg,
.sidebar-back-button svg {
    font-size: 18px;
}

.sidebar-back-button {
    margin-top: -10px;
    background-color: #3e4246;
    padding: 10px 20px;
}



.main-content {
    margin-left: 90px;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-top: 50px;
}


.Navbar {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 50px;
    right: 18px;
    z-index: 1000;
}

.Navbar h2 {
    color: white;
}

.normal-font-weight {
    font-weight: normal;
    font-size: 25px;
}


.Navbar h4 {
    color: #61dafb;
    margin-left: 10px;
    font-size: 12px;

}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 3px 30px;
    margin-bottom: 10px;
}

.header-container h2 {
    margin: 0;
    font-size: 17px;
}

.header-container .search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: -18px;
}

.search-input {
    width: 150px;
    padding: 8px 8px 8px 30px;
    font-size: 10px;
    border: none;
    background-color: black;
    border: 1px solid #464f52;
    border-radius: 3px;
    color: white;

}


.search-icon {
    position: absolute;
    left: 5px;
    color: #61dafb;
}

.info-container {
    margin-right: -410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #61dafb;
    font-size: 10px;
    margin-left: auto;
}


.loop-icon {

    background-color: dimgrey;
    border-radius: 20px;
    color: #61dafb;
    margin-left: auto;
    margin-right: 10px;

}

.add-ticket-button {

    padding: 6px 9px;
    border-radius: 15px;
    border-width: 1px;
    font-size: 12px;
    cursor: pointer;
    color: #61dafb;
    /* margin-left: auto;  */
    margin-right: -410px;
    border-color: #61dafb;
    background-color: #282c34;
}

.user {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 13px;
    background-color: black;
    margin-left: auto;
    margin-right: -20px;
    height: 50px;

}



.user .profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgrey;
    color: #0e86a7;
    margin-left: 5px;
    /* font-weight: bold; */
}



.details-sidebar {
    align-items: center;
    width: 30px;
    background-color: #2f3337;
    border: 1px solid black;
    padding-top: 50px;
    position: fixed;
    left: 80px;
    height: 100vh;
}

.details-sidebar.open {
    width: 200px;
    z-index: 10;

}

.details-sidebar .details-item {
    display: flex;
    font-size: 13px;
    writing-mode: vertical-rl;
    align-items: center;
    transform: rotate(180deg);
    margin-top: 7px;
    gap: 15px;
    border-top: 1px solid black;
    text-align: center;
    width: 100%;
}

.details-sidebar .details-count {
    writing-mode: vertical-rl;
    background-color: #0e86a7;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    height: 35px;
    margin-top: 10px;
    width: 20px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 0px;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 275px;
    background-color: #282c34;
    flex: 1 1 160px;
    margin: 10px;
    /* max-width: calc(100% - 40px);  */
}

.card-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-info h6 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.card-info h3 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .cardcontainer {
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .card {
        width: 100%;
        max-width: none;
    }

    .card-info h6 {
        font-size: 14px;
    }

    .card-info h3 {
        font-size: 18px;
    }
}




.row-info {
    border-radius: 8px;
    margin-left: 450px;
}

.row-info h3 {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.row-info div {
    font-size: 11px;

    color: white;
}

.details-page {
    padding: 20px;
    background-color: #282c34;
    color: white;
    margin-left: 20px;

}

.details-page h2 {
    margin-bottom: 20px;
    /* margin-left: 20px; */
}


.livetracking {
    margin: 10px;
    margin-left: 30px;
    background-color: #282c34;
    height: 230px;
    margin-bottom: 40px;
}


.table-container {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 10px;
    max-height: 300px;
    /* Increased the max-height */
    overflow: hidden;
    margin-bottom: 10px;
}

.table-header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-body {
    max-height: 240px;
    overflow-y: auto;
}

.table-container table {
    width: 100%;
    color: white;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 8px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}

.constraint-box {
    display: inline-block;
    background-color: #3e4246;
    border: 0px solid #ddd;
    border-radius: 1px;
    padding: 2px 5px;
    margin: 1px;
    font-size: 0.85em;
}

.alarm-source {
    display: inline-block;
    padding: 0 5px;
}

.table-container tbody tr:nth-child(odd) {
    background-color: #282c34;
}

.table-container tbody th {
    background-color: rgba(255, 255, 255, 0.1);
}

.table-body::-webkit-scrollbar {
    width: 5px;
    background-color: #3e4246;
}

.table-body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}








.ticket-summary-sidebar {
    width: 30px;
    z-index: 99;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    position: fixed;
    left: 50px;
    height: 100vh;
}

.ticket-summary-sidebar.open {
    width: 400px;
}

.dropdown-icon {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: dimgrey;
    border-radius: 10px;
    color: #0e86a7;
    cursor: pointer;
}

.ticket-summary-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.ticket-summary-section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.ticket-summary-count {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #0e86a7;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    height: 30px;
}

.ticket-heading {

    margin-top: 0px;
    margin: left -20px;
    ;
}

.train-cards {
    overflow-y: auto;
    height: calc(100vh - 200px);
    width: 100%;
    padding: 10px;
}

.train-cards::-webkit-scrollbar {
    width: 5px;
    background-color: #3e4246;
}

.train-cards::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

.train-card {
    background-color: #3e4246;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.train-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    margin-bottom: 10px;
}



.train-date-time {
    text-align: right;
}

.train-description {
    margin-top: 5px;
}

.train-info {
    display: flex;
    gap: 20px;
    font-size: 1px;
}

.train-codes {
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    gap: 10px;
}

.train-status {
    display: flex;
    margin-top: 5px;
    margin-left: 60px;
    font-size: 14px;
    gap: 10px;
}

.livetracking {
    border: 1px solid black;
    width: 96.5%;
    border-radius: 5px;
    height: 230px;
    margin-left: 23px;
    margin-bottom: -9px;
}

.livetracking-title {
    font-size: 15px;
    font-weight: 500;
    margin-left: 4px;
    padding: 7px;
}

.livetracking-map {
    width: 98%;
    height: 80%;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 9px;
}


.suggestions {
    position: absolute;
    background-color: #282c34;
    /* border: 1px solid #ccc; */
    max-height: 120px;
    overflow-y: auto;
    width: 150px;
    top: 100%;
    margin-top: 2px;
    color: #61dafb;
    font-size: 12px;
}

.suggestions::-webkit-scrollbar {
    width: 7px;
    background-color: #3e4246;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.icon-active {
    background-color: #0e86a7;
}


.icon-inactive {
    background-color: transparent;
}




.form-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #2f3337;
    padding: 10px;
    margin-left: -20px;
}



.form-container {
    /* position: fixed; */
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2f3337;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form div {
    display: flex;
    align-items: center;
}

.form label {
    flex: 30%;
    font-size: 14px;
}

.form input {
    color: #61dafb;
    size: 40px;
    width: 150px;
    padding: 6px;
    border: 0.01px solid #575757;
    border-radius: 4px;
    background-color: black;
}

.form input::placeholder {
    color: #61dafb;
}

.form input[type="date"] {
    color: #61dafb;
}

.form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg);
}

.form select {
    size: 40px;
    width: 150px;
    padding: 6px;
    border: 0.01px solid #575757;
    border-radius: 4px;
    background-color: black;
    color: #61dafb;
}


.form-header {
    position: relative;
    padding: 10px;
}