/* .container {
    margin: 0;
    padding: 0;
    background-color: black;
} */
* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    height: 43px;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0px;
    z-index: 1000;

}

.navbar h2 {
    color: white;
    margin-left: 20px;
}

.navbar h5 {
    color: #61dafb;
    margin-left: 10px;
    font-size: 12px;

}

.info-container {
    /* margin-right: -410px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #61dafb;
    font-size: 10px;
    margin-left: -20px;
}

.loop-icon {

    background-color: dimgrey;
    border-radius: 20px;
    color: #61dafb;
    /* margin-left: 40px; */
    margin-right: -10px;

}

.add-ticket-button {

    padding: 6px 9px;
    border-radius: 15px;
    border-width: 1px;
    font-size: 12px;
    cursor: pointer;
    color: #61dafb;
    /* margin-left: 10px;
    margin-right: 60px; */
    border-color: #61dafb;
    background-color: #282c34;
}

.user {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 13px;
    background-color: black;
    margin-left: auto;
    margin-right: -20px;
    height: 50px;

}



.user .profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgrey;
    color: #0e86a7;
    margin-left: 5px;
    /* font-weight: bold; */
}

#icon {
    margin-bottom: -8px;
}